.subContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2A2A2ACC;
    border: 1px solid #37415180;
    border-radius: 10px;
}

.subContainerNoCenter {
    display: flex;
    background: #2A2A2ACC;
    border: 1px solid #37415180;
    border-radius: 10px;
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(20, 25, 30, 0.6);
    border-radius: 10px;
    z-index: 1300;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*margin-top: auto;*/

    & > div{
        color: #9CA3AF;
        font-size: 12px;
        font-weight: 400;
    }

}